<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>a_project_nopcommerce.CustomerSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CustomerSearchLname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerSearchFname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerSearchEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addcustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerSearchComapany</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChildCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddCustomerRole</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerRoles</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applaunch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>appclose</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
